@inherits LayoutComponentBase

<main>
    <MudLayout>
        <MudMainContent>
            <MudContainer Fixed="true">
            @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</main>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
